# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build artifacts
dist/
build/

# Ignore package-lock.json for npm
package-lock.json

# Ignore static file
input.txt

# Ignore db contents
db/*

bun.lockb